.DS_Store
*.DS_Store
*.asv
*.autosave
*~
*.mex*
*.zip
*.bat
*.exp
*.lib
*.mak
*.map
*.obj
*.bak
*.o
*.h
*.c
*.log
*.mol
slprj/
output_previous/
output/
.DS_Store
*.DS_Store
*.asv
*.autosave
*~
*.mex*
*.zip
*.bat
*.exp
*.lib
*.mak
*.map
*.obj
*.bak
*.o
*.h
*.c
*.log
*.mol
slprj/
output_previous/
output/
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.mtc3
*.mtc0
output.txt
runs/
documentation/user-manual/documentation.out
documentation/user-manual/documentation.pdf
*.mexmaci64